<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-brand">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a href="#" class="navbar-brand">recipe book</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item"><button (click)="onSelect('recipe')" type="button" class="btn btn-light">recipes</button></li>
                <li class="nav-item"><button (click)="onSelect('shopping-list')" type="button" class="btn btn-light">shopping list</button></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Manage <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><button type="button" class="btn btn-link">save data</button></li>
                        <li><button type="button" class="btn btn-link">fetch data</button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>